
$primary: #4A90E2;
$white: #fff;

@mixin transition($property, $duration, $transition){
	transition: $property $duration $transition;
	-webkit-transition: $property $duration $transition;
	-moz-transition: $property $duration $transition;
}

@mixin blur($blursize){
	-webkit-filter: blur($blursize);
	-moz-filter: blur($blursize);
	filter: blur($blursize);
}