
// // Light Theme Colors
$theme-light-background: #fff
$theme-light-background-secondary: #f2f2f2
$theme-light-text-default: #222
$theme-light-text-body: #444
$theme-light-text-secondary: #888
$theme-light-background-case: #F3F7FF
$theme-light-background-case-px: #C9DAD9
$theme-light-accent: #4678F8

// // Dark Theme Colors
$theme-dark-background: #222
$theme-dark-background-secondary: #383838
$theme-dark-text-default: #fff
$theme-dark-text-body: rgba(#fff,0.9)
$theme-dark-text-secondary: rgba(#fff,0.5)
$theme-dark-background-case: rgba(#fff, 0.05)
$theme-dark-background-case-px: #8fc0bd
$theme-dark-accent: #739AFF

// Color Tokens using CSS Vars
@mixin includeLight
    --color-background: #{$theme-light-background}
    --color-background-secondary: #{$theme-light-background-secondary}
    --color-background-case: #{$theme-light-background-case}
    --color-background-case-px: #{$theme-light-background-case-px}
    --color-text-default: #{$theme-light-text-default}
    --color-text-body: #{$theme-light-text-body}
    --color-text-secondary: #{$theme-light-text-secondary}
    --color-text-accent: #{$theme-light-accent}

@mixin includeDark
    --color-background: #{$theme-dark-background}
    --color-background-secondary: #{$theme-dark-background-secondary}
    --color-background-case: #{$theme-dark-background-case}
    --color-background-case-px: #{$theme-dark-background-case-px}
    --color-text-default: #{$theme-dark-text-default}
    --color-text-body: #{$theme-dark-text-body}
    --color-text-secondary: #{$theme-dark-text-secondary}
    --color-text-accent: #{$theme-dark-accent}

// Fonts/
$font-size-default: 1rem
$font-size-xxl: 3rem // 48px
$font-size-xl: 2rem // 32px
$font-size-lg: 1.75rem // 24px
$font-size-md: 1.125rem // 18px
$font-size-sm: 0.875rem // 14px
$font-size-xs: 0.75rem // 12px

$font-weight-default: 400
$font-weight-xbold: 800
$font-weight-bold: 700
$font-weight-sbold: 600
$font-weight-medium: 500

$font-family-header: "Inter"
$font-family-body: "Inter"


// Responsive breakpoints
$breakpoint-mobile: 480px
$breakpoint-tablet-p: 768px
$breakpoint-tablet-l: 1024px
$breakpoint-desktop: 1440px
$breakpoint-desktop-md: 1700px
$breakpoint-desktop-lg: 2560px


// Mobile font sizes
$font-size-xxl-mob: 2.5rem
$font-size-lg-mob: 1.3rem
