
.CaseStudyLayout
    padding: 0 0 6rem

    &__header
        color: var(--color-text-accent)

    &__steps
        margin-top: 3rem
        display: grid;
        grid-template-columns: 1fr
        grid-gap: 3rem
        grid-gap: clamp(3rem, 48px, 6rem)

    
    // featured image - aok
    &__feature-container
        margin-top: 6rem
        padding: 4rem 0
        background-color: var(--color-background-case)

    &__feature
        width: 100vw
        height: 1000px
        height: clamp(100vh, 1400px, 120vh)
        overflow: hidden
        image-rendering: -webkit-optimize-contrast

        &--aok
            background-image: url('/public/images/projects/aok-screens.png')
            background-position: center
            background-size: 70vw
            background-repeat: no-repeat


    // featured image in grid - perlinx
    &__grid
        display: grid
        grid-template-columns: 60% 40%
        grid-template-rows: 1fr 1fr
        grid-gap: 1rem
        
        &.perlinx
            height: 600px

            & > :first-of-type
                grid-row: span 2

    &__gridItem
        background: var(--color-background-case-px)
        border-radius: 0.5rem
        overflow: hidden

            


// Mobile devices
@media all and (max-width: $breakpoint-tablet-p)
    .CaseStudyLayout
        &__steps
            grid-template-columns: auto
            grid-template-rows: repeat(3, auto)

        &__feature
            &--aok
                background-size: cover

        &__grid
            grid-template-columns: 1fr
            grid-template-rows: auto
            
            &.perlinx
                height: auto 
        
        &__gridItem
            height: 15rem

// Tablet portrait devices
@media all and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet-p)
    .CaseStudyLayout
        &__grid
            grid-template-columns: 1fr
            grid-template-rows: auto
            
            &.perlinx
                height: auto 
        
        &__gridItem
            height: 28rem

// Tablet landscape devices
@media all and (min-width: $breakpoint-tablet-p + 1) and (max-width: $breakpoint-tablet-l)
    .CaseStudyLayout
        &__feature
            height: 900px
            &--aok
                background-size: 80vw

        &__grid
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            &.perlinx
                height: 900px

                & > :first-of-type
                    grid-row: auto

// Large desktop monitors
@media all and (min-width: $breakpoint-desktop-lg)
    .CaseStudyLayout
        &__feature
            &--aok
                background-size: 50vw 