
.CollectionItem
    &__content
        width: 90%

        .client
            margin-top: 0.5rem

    &__image
        width: 100%
        height: 25rem
        border-radius: 0.5rem
        background: $color-background-secondary
        margin-bottom: 2.5rem
        background-repeat: no-repeat

        // feature images
        &.feature--nf
            background-color: #F8CC46
            background-image: url('/public/images/projects/neighbourfood.png')
            background-position: center bottom -90px
            background-size: 80%

        &.feature--cs
            background-color: #5CC8D7
            background-image: url('/public/images/projects/crowdsails.png')
            background-position: center bottom -10px
            background-size: 80%
            
        &.feature--pm
            background-color: #F84646 //#5CD79C
            background-image: url('/public/images/projects/projectmerdeka.png')
            background-position: center bottom -30px
            background-size: 80%

        &.feature--qu
            background-color: #468DF8
            background-image: url('/public/images/projects/qucs.png')
            background-position: center bottom -1px
            background-size: 80%


// Mobile devices
@media all and (max-width: $breakpoint-mobile)
    .CollectionItem
        &__image
            height: 15rem

// Tablet portrait devices
@media all and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet-p)
    .CollectionItem
        &__content
            width: 100%

            h4
                width: 90%
                font-size: $font-size-lg-mob

        &__image
            &.feature--nf
                background-position: center bottom 100%


// Tablet landscape devices
@media all and (min-width: $breakpoint-tablet-p + 1) and (max-width: $breakpoint-tablet-l)
    .CollectionItem
        &__image
            height: 15rem