
.social
    display: flex
    align-items: center

    &__email
        position: relative
        margin-right: 2rem
        
        input, label
            position: absolute
            opacity: 0
            z-index: -1

    li:not(.social__email)
        position: relative
        margin-right: 1rem
        width: 3rem
        height: 3rem
        padding: 0.8rem

        &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            z-index: -1
            width: 3rem
            height: 3rem
            background: var(--color-background-secondary)
            border-radius: 100%
            transform: scale(0.2)
            opacity: 0
            transition: all 0.3s ease
        
        svg
            fill: var(--color-text-default)

        &:hover
            &::before
                transform: scale(1.2)
                opacity: 1


// Mobile devices
@media all and (max-width: $breakpoint-mobile)
    .social
        display: grid
        grid-template-columns: repeat(4, 40px)
        grid-template-rows: auto auto
        grid-gap: 1rem

        &__email
            grid-column-start: 1
            grid-column-end: 5