
.Step
    display: grid
    grid-template-columns: 32px auto
    grid-template-rows: auto auto
    grid-template-areas: "count header" ". desc";
    grid-gap: 0.5rem 1rem
    
    &__count
        grid-area: count
        display: flex
        justify-content: center
        align-items: center
        width: 2rem
        height: 2rem
        border-radius: 100%
        background: var(--color-text-accent)
        color: white
        font-weight: $font-weight-sbold
        font-size: $font-size-sm
    
    &__header
        grid-area: header
        margin: 0
        font-size: $font-size-default
        font-weight: $font-weight-sbold
        line-height: 2

    &__desc
        grid-area: desc