@import "base/variables";

.hero{
	width: 40%;
	padding-top: 120px;

	&__header{
		margin-bottom: 30px;

		span{
			display: block;
			color: $highlight;		
			font-family: "Avenir-Book";
		}
	}

	&__link-container{
		margin-top: 40px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	&__links{
		margin-left: 30px;

		li{
			display: inline-block;
			list-style: none;
			margin-right: 30px;

			a{
				text-decoration: none;
				color: $dark-text;
				font-size: 20px;

				&:hover{
					color: $highlight;
				}
			}
		}
	}
}

@media all and (min-width: 601px) and (max-width: 1024px){
	.hero{
		width: 60%;
	}
}


@media all and (max-width: 600px){

	.hero{
		width: 100%;
		padding: 40px 0 20px;
		min-height: 80vh;

		&__link-container{
			flex-wrap: wrap;
		}

		&__links{
			margin: 30px 0 0;
			flex-basis: 100%;
		}
	}

}




