.button
    cursor: pointer
    height: 3rem
    padding: 0 1.5rem
    background-color: transparent
    color: $color-text-default
    border: 2px solid $color-text-default
    outline: none
    border-radius: 0.5rem
    font-family: $font-family-header
    font-size: $font-size-xs
    text-transform: uppercase
    transition: all 0.3s ease

    &:hover, &.active
        background-color: $color-text-default
        color: $color-background


