@import "base/variables";

.button{
	padding: 14px 25px;
	font-size: 16px;
	font-family: "Avenir-Medium";
	text-decoration: none;
	cursor: pointer;

	i{
		margin-right: 7px;
	}

	&--primary{
		background: $black;
		color: $white;

		&:hover{
			background: $highlight;
		}
	}
}

@media all and (max-width: 600px){
	.button{
		font-size: 15px;
	}
}